html
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body
{
	width: 100%;
	padding: 0 0;
	margin: 0 0;
	letter-spacing: 1.3px;
	font-family: "Open Sans";
}
a
{
	cursor: pointer;
}
}
a:hover
{
	text-decoration: none; 
}
.masthead
{
	padding-left: 40px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	height: 96px;
	border-bottom: 1px solid #4f7279e3;
	
}
.logo
{
	margin-top: 10px;
	height: 75px;
}
.navigate
{
	font-family: "Open sans";
	float: right;
	width: 700px;
	height: 100%;
	padding-right: 0px;
	padding-left: 0PX;
	margin-bottom: 0px;
}
.navigate a
{
	color: #4f7279e3;
}
.navigate a:hover
{
	text-decoration: none;
	color: #578fe4;
}
.navigate li
{
	float: right;
	display: inline;
	list-style: none;
	margin-right: 65px;
	margin-top: 35px;
	font-size: 18px;
	letter-spacing: normal;
}
.panel1-header
{
	height: 530px;
	width: 100%;
  	background-image: url("xyz.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
    background-blend-mode: color;
   	border-bottom: 1px solid #4f7279e3;

}
.panel1-cap
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 157px;
	text-align: center;
	height: 400px;
	width: 650px;
	background-color: rgba(0, 0, 0, 0.55);
}
.panel1-header span
{
	color: white;
	text-align: center; 
	display: inline-block;
	padding: 0 10px;
	letter-spacing: 3px;
}
#p1head
{
	font-family: "Nunito";
	font-size: 38px;
	font-weight: 700;
}
#p1sub
{
	font-family: "Open Sans";
	padding-top: 23px;
	font-size: 19px;
	line-height: 29px;
	font-weight: 600;
}
.what-panel
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 490px;
}
.panela-heading
{
	margin-top: 25px;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: "Nunito";
	font-size: 28px;
	font-weight: 700;
}
.hrline
{
	border-bottom: 1px solid #BEBEBE;
    height: 0px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
}
.what-step
{
	text-align: center;
	margin-top: 50px;
	padding: 0 15px;
}
.what-step img
{
	height: 170px;
	width: 170px;
}
.panela-sub
{
	margin-top: 38px;
	font-size: 16px;
}
.who-panel
{
	text-align: center;
	background-image: url("whopanelbg.jpg");
	height: 350px;
}
.who-panel .row
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.panelb-heading
{
	margin-top: 45px;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: "Nunito";
	font-size: 28px;
	font-weight: 700;
	color: #fdfdfd;
}
.panelb-sub
{
	margin-top: 40px;
	font-size: 17px;
	text-align: center;
	color: #fdfdfd;
	line-height: 30px;
}
.why-panel
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 490px;
}
.why-feat
{
	text-align: center;
	height: 300px;
	margin-top: 40px;
}
.why-feat i
{
	font-size: 40px;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	color: #3b5dc5;
}
.title
{
	font-size: 18px;
	font-weight: 600;
}
.when-panel
{
	text-align: center;
	background-image: url("whenpanelbg.jpg");
	height: 350px;
}
.when-panel .row
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.contact-panel
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 330px;
}
.clabel
{
	font-size: 17px;
	font-weight: 600;
}
.clabel:first-child
{
	margin-top: 20px;
}
.cdeet
{
	font-size: 17px;
}
.when-det
{
	margin-top:20px;
}