html
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body
{
	box-sizing: border-box;
	width: 100%;
	padding: 0 0;
	margin: 0 0;
	letter-spacing: 1.3px;
	font-family: "Open Sans";
}
a
{
	cursor: pointer;
}
a:hover
{
	text-decoration: none; 
}
.masthead
{
	padding-left: 40px;
	width: 100%;
	background-color: rgba(255, 255, 255);
	height: 96px;
	border-bottom: 1px solid #BEBEBE;	
}
.mobnav
{
	display: none;
	position: fixed;
	top: 0;
	background-color: transparent;
	padding-left: 12px;
	height: 40px;
	width: 100%;
	z-index: 100;
}
.mobnav img
{
	margin-top: 10px;
	height: 18px;
}
.mobnav i
{
	padding: 5px 5px;
	margin-top: 7px;
	margin-right: 11px;
	font-size: 16px;
	float: right;
	color: white;
}
.mobnav i:hover
{
	border: 1px solid black;
}
.moblist
{
	position: fixed;
	top: 40px;
	background-color: white;
	z-index: 90;
	width: 100%;
	height: 100%;
}
.moblist ul
{
	padding-left: 0px;
	height: 100%;
	list-style-type: none;
}
.moblist li
{
	background-color: white;
	line-height: 55px;
	font-size: 17px;
	height: 20%;
	max-height: 55px;
	border-bottom: 1px solid black;
	padding: 0 0;
	text-align: center;
}
.logo
{
	margin-top: 10px;
	height: 75px;
}
.navigate
{
	font-family: "Open sans";
	float: right;
	width: 700px;
	height: 100%;
	padding-right: 0px;
	padding-left: 0PX;
	margin-bottom: 0px;
}
.navigate a
{
	color: #4f7279e3;
}
.navigate a:hover
{
	text-decoration: none;
	color: #578fe4;
}
.navigate li
{
	float: right;
	display: inline;
	list-style: none;
	margin-right: 65px;
	margin-top: 35px;
	font-size: 18px;
	letter-spacing: normal;
}
.nfixed
{
	z-index: 100;
	display: none;
	position: fixed;
	top: 0px;
	height: 50px;
}
.nfixed .logo
{
	height: 30px;
}
.nfixed .navigate li
{
	margin-top: 12px;
}
.panel1-header
{
	min-height: 530px;
	width: 100%;
  	background-image: url("xyz.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
    background-blend-mode: color;
   	border-bottom: 1px solid #4f7279e3;
}
.panel1-cap
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 157px;
	text-align: center;
	height: 400px;
	width: 65%;
	background-color: rgba(0, 0, 0, 0.55);
}
.panel1-header span
{
	color: white;
	text-align: center; 
	display: inline-block;
	padding: 0 10px;
	letter-spacing: 3px;
}
#p1head
{
	font-family: "Nunito";
	font-size: 38px;
	font-weight: 700;
}
#p1sub
{
	font-family: "Open Sans";
	padding-top: 23px;
	font-size: 19px;
	line-height: 29px;
	font-weight: 600;
}
.what-panel
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	min-height: 490px;
	padding-bottom: 35px;
}
.panela-heading
{
	margin-top: 25px;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: "Nunito";
	font-size: 28px;
	font-weight: 700;
}
.hrline
{
	border-bottom: 1px solid #BEBEBE;
    height: 0px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
}
.what-step
{
	text-align: center;
	margin-top: 50px;
	padding: 0 15px;
}
.what-step img
{
	height: 170px;
	width: 170px;
}
.panela-sub
{
	margin-top: 38px;
	font-size: 16px;
}
.who-panel
{
	text-align: center;
	background-image: url("whopanelbg.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	min-height: 380px;
	padding-bottom: 45px;
}
.who-panel .row
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.panelb-heading
{
	margin-top: 45px;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: "Nunito";
	font-size: 28px;
	font-weight: 700;
	color: #fdfdfd;
}
.panelb-sub
{
	margin-top: 40px;
	font-size: 17px;
	text-align: center;
	color: #fdfdfd;
	line-height: 30px;
}
.why-panel
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-bottom: 35px;
}
.why-feat
{
	text-align: center;
	margin-top: 40px;
}
.why-feat i
{
	font-size: 40px;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	color: #3b5dc5;
}
.title
{
	font-size: 18px;
	font-weight: 600;
}
.when-panel
{
	text-align: center;
	background-image: url("whenpanelbg.jpg");
	min-height: 350px;
	padding-bottom: 45px;
}
.when-panel .row
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.contact-panel
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	min-height: 330px;
	padding-bottom: 30px;
}
.clabel
{
	font-size: 17px;
	font-weight: 600;
}
.clabel:first-child
{
}
.cdeet
{
	font-size: 17px;
}
.when-det
{
	margin-top:20px;
}
@media (max-width: 1200px)
{
	.nfixed
	{
		display: none;
	}
}
@media (max-width: 900px)
{
	.masthead
	{
		display: none;
	}
	.panel1-cap
	{
		width: 75%;
	}
	.mobnav
	{
		display: block;
	}
}
@media (max-width: 600px)
{
	.panel1-header
	{
		min-height: 50px;
	}
	.panel1-cap
	{
		padding-top: 105px;
		width: 100%;
	}
	.panela-sub
	{
		margin-top: 30px;
	}
}